button{
    cursor: pointer;
    width: 160px;
    height: 40px;
    background-color: #FFFFFF;
    color: rgb(20, 20, 20);
    border-radius: 6px;
}

button > a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(20, 20, 20);
}