nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 31, 78) ;
    height: 100vh;
    width: 25%;
}

button{
    margin: 5%;
    width: 90%;
    color: rgb(20, 20, 20);
}

footer{
    margin-top: auto;
}