nav{
    display: flex;
    flex-direction: column;
    background-color: #242424;
    height: 100vh;
    width: 15%;
}

button{
    margin: 5%;
    width: 90%;
    color: rgb(20, 20, 20);
}

footer{
    margin-top: auto;
}