nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 31, 78) ;
    height: 100vh;
    padding: 20px;
    width: 20%;
    z-index: 1000;
}

button{
    margin: 2%;
    width: 90%;
    color: rgb(20, 20, 20);
}

footer{
    margin-top: auto;
}